<h2 class="neon" id="dashH2">DateSpot</h2>
<div class="dashboard">
    <div class="matches-container">
        <h3>Matches</h3>
        <ul id="matchesListUl">
        </ul>
    </div>
    <div class="swipe-container">
        <div id="swiper">
        </div>
        <div class="swipeInstructionDiv">
            <p>Dislike</p>
            <p>Like</p>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/public/js/dashboard/card.js"></script>
<script src="/public/js/dashboard/dashboard.js"></script>