<h2 class="neon" id="dashH2">DateSpot</h2>
<div class="dashboard">
    <div class="matches-container">
        <h3>Matches</h3>
        <ul id="matchesListUl">
        </ul>
    </div>
    <div class="swipe-container">
        <ion-icon id="dislike"  name="heart-dislike-circle-outline"></ion-icon>
        <div id="swiper">
        </div>
        <ion-icon id="like" name="heart-circle-outline"></ion-icon>
    </div>
    <div class="popup">
        <h2 id="popupH2"></h2>
        <div id="popupInnerDiv">
            {{#if user.images.profilePic}}
            <img id="popupMatchImg1" alt="" src="{{user.images.profilePic}}">
            <img id="popupMatchImg2" alt="" src="">
            {{/if}}
        </div>
        <b class="close">x</b>
    </div>
</div>
<canvas id="my-canvas"></canvas>
<script src="/public/js/dashboard/confetti.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/public/js/dashboard/card.js"></script>
<script src="/public/js/dashboard/dashboard.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
