<!--<nav class="dropdownNav">-->
<!--    <div class="sub-menu-wrap" id="subMenu">-->
<!--        <div class="sub-menu">-->
<!--            <div class="user-info">-->
<!--                <img src={{imgSrc}}>-->
<!--                <h3>{{name}}</h3>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <a href="users/dashboard" class="sub-menu-link">-->
<!--                <img src="/public/images/icons/homepage_icon.png">-->
<!--                <p>Home</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="/users/onboarding" class="sub-menu-link">-->
<!--                <img src="/public/images/icons/edit_profile_icon.png">-->
<!--                <p>Edit Profile</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="/users/onboarding/images" class="sub-menu-link">-->
<!--                <img src="/public/images/icons/update_photos_icon.webp">-->
<!--                <p>Update Photos</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="users/onboarding/filters" class="sub-menu-link">-->
<!--                <img src="/public/images/icons/update_filters_icon.png">-->
<!--                <p>Update Filters</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="/users/logout" class="sub-menu-link">-->
<!--                <img src="/public/images/icons/sign_out_icon.png">-->
<!--                <p>Sign Out</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <img src="/public/images/Hamburger_menu_icon.jpg" class="userProPic" onclick="toggleMenu();">-->
<!--</nav>-->
<h2 class="neon" id="dashH2">DateSpot</h2>
<div class="dashboard">
    <div class="matches-container">
        <h3>Matches</h3>
        <ul id="matchesListUl">
        </ul>
    </div>
    <div class="swipe-container">
        <div id="swiper">
        </div>
        <div class="swipeInstructionDiv">
            <p>Dislike</p>
            <p>Like</p>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/public/js/dashboard/card.js"></script>
<script src="/public/js/dashboard/dashboard.js"></script>
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->