<nav role="navigation" id="dropdown-nav">
  <ul id="account-dropdown-container">
    <li id="account-dropdown">ACCOUNT
      <ul class="dropdown" aria-label="submenu">
        <li><a href="/users/settings">Settings</a></li>
        <li><a href="/users/images">Update Photos</a></li>
        <li><a href="/users/filters">Update Filters</a></li>
        <li><a href="/users/logout">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</nav>
<h2 class="neon" id="dashH2">DASHBOARD</h2>
<div class="dashboard">
    <div class="matches-container">
        <h3>Matches</h3>
        <ul id="matchesListUl">
        </ul>
    </div>
    <div class="swipe-container">
<!--        <ion-icon id="dislike" name="heart-dislike"></ion-icon>-->
        <div id="swiper">
        </div>
        <div class="swipeInstructionDiv">
            <p>Dislike</p>
            <p>Like</p>
        </div>

<!--        <ion-icon id="like" name="heart"></ion-icon>-->
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/public/js/dashboard/card.js"></script>
<script src="/public/js/dashboard/dashboard.js"></script>
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->