<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main-styles.css">
</head>
<body>
<div class="overlay">
    <nav class="dropdownNav">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="sub-menu-link">
                    {{#if user.images.profilePic}}
                    <img id="profileImg" alt="Your profile picture" src={{user.images.profilePic}}>
                    <p id="profileP">{{user.firstName}}</p>
                    {{/if}}
                </div>
                <hr>
                <a href="/users/dashboard" class="sub-menu-link">
                    <img src="/public/images/icons/homepage_icon.png" alt="">
                    <p>Home</p>
                    <span>></span>
                </a>
                <a href="/users/onboarding" class="sub-menu-link">
                    <img src="/public/images/icons/edit_profile_icon.png" alt="">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="/users/onboarding/filters" class="sub-menu-link">
                    <img src="/public/images/icons/update_filters_icon.png" alt="">
                    <p>Update Filters</p>
                    <span>></span>
                </a>
                <a href="/users/onboarding/images" class="sub-menu-link">
                    <img src="/public/images/icons/update_photos_icon.webp" alt="">
                    <p>Update Photos</p>
                    <span>></span>
                </a>
                <a href="/users/logout" class="sub-menu-link">
                    <img src="/public/images/icons/sign_out_icon.png" alt="">
                    <p>Sign Out</p>
                    <span>></span>
                </a>
            </div>
        </div>
        <img alt="Menu Button" src="/public/images/Hamburger_menu_icon.jpg" class="hamburgerMenu" onclick="toggleMenu();" hidden>
    </nav>
    <main>
        {{{body}}}
    </main>
</div>
<script src="/public/js/mainLayout.js"></script>
</body>
</html>