@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Exo 2", serif;
}

p {
    color: white;
    font-size: 17px;

}

h1 {
    color: white;
    margin-top: 0;
    font-size: 60px;
}

h3 {
    color: white;
}

label {
    color: white;
}

#homepageH1 {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #f09,
            0 0 82px #f09,
            0 0 92px #f09,
            0 0 102px #f09,
            0 0 151px #f09;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

.neon {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #f09,
            0 0 82px #f09,
            0 0 92px #f09,
            0 0 102px #f09,
            0 0 151px #f09;
}


@keyframes pulsate {

    100% {

        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;

    }

    0% {

        text-shadow: 0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;

    }
}

body {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.homepage-buttons {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border-color: white;
    background: linear-gradient(to bottom, rgb(76, 0, 19), black);
}


.homepage-buttons:hover {
    background: linear-gradient(to top, rgb(76, 0, 19), black);
    color: white;
}

#login-button {
    padding: 7px 25px;
    background-color: #342822;
    margin-top: 5px;
    border-radius: 10px;

}

 /*Home Page*/

#dashH2 {
    font-size: 50px;
    margin: 0;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(
            to bottom,
            rgba(76, 0, 19, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url(../images/DateSpot_background.png);
}

#homepage-description{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Login Page */
.redirect-to-signup {
    margin-top: 15px;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

#loginForm button {
    margin-top: 10px;
}

/* Signup Page */
#signupButton {
    margin-top: 10px;
}

.redirect-to-login {
    margin-top: 15px;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

.password-information {
    position: absolute;
    top: 225px;
    left: 70%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 1.50rem;
    font-weight: bold;
    text-align: left;
}


/* Onboarding Page */
#interests {
    margin-top: 10px;
}

h2 {
    color: white;
}


.onboarding form {
    display: flex;
    justify-content: center;
}


.onboarding form section {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding: 20px;
    margin: 20px;
    width: 40%;
}

.onboarding label{
    color: white;
    display: block;
    text-align: -webkit-center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}

.onboarding form input {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 15px;
    display: block;
    width: 100%;
    color: black;

}

.onboarding form .multipleInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: inherit;
}

.onboarding form .multipleInputContainer input {
    margin-right: 0;
}

.onboarding form .multipleInputContainer label {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.borderInput {
    border: white 1px solid;
    border-radius: 10px;
    margin: 10px;
    min-width: fit-content;
}

#genderInterestLabel {
    margin-top: inherit;
}

#onboardingButton {
    margin-top: 40px;
    font-size: 17px;
    height: fit-content;

}

.multi-select-container {
    margin-top: 10px;
}

.alert {
    margin-bottom: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#borderContainer {
    margin: 10px;
}

/* Location Page */
.location-img {
    width: 175px;
    border-radius: 50%;
    margin-top: 20px;
}

#locationButton {
    text-transform: revert;
    margin-top: 10px;
    font-size: 20px;
}

#locationContainer {
    margin-top: 30px;
}

#loader {
    border: 16px solid white; /* Light grey */
    border-top: 16px solid rgb(76, 0, 19); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Filters Page */
.slideContainer {
    width: 50%; /* Width of the outside container */
    margin: 20px auto;
}

 /*The slider itself*/
 .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 15px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
 }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

#ageRange{
    text-align: center;
}

#genderInterestBorder {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#locationContainer label {
    font-size: 20px;
}

#locationContainer select {
    font-size: 19px;
}

#filtersBorder {
    margin-top: 50px;
}

/* Images Page */

.grid {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.grid .form-element img {
    width: 250px;
    height: 201px;
    object-fit: cover;
    /*max-width: 100%;*/
    /*max-height: 250px;*/

}

.grid .form-element {
    /*width: 200px;*/
    /*height: 200px;*/
    /*box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);*/
    width: 250px;
    min-height: 120px;
    max-height: fit-content;
    float: left;
    margin: 3px;
    padding: 3px;
}

.grid .form-element input {
    display: none;
}

.grid .form-element div {
    position: relative;
    height: 40px;
    width: 250px;
    margin-top: -40px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 600;
}

.grid .form-element div span {
    font-size: 30px;
    /*width: max-content;*/
}

#imagesContainer h3 {
    margin-bottom: 0;
}

#imagesContainer2 {
    margin-top: 50px;
    height: min-content;
}

#imagesButton {
    margin-top: 15px;
}

/* Dashboard Page */
.dashboard h3 {
    font-size: 30px;
    font-weight: bold;
}


.dashboard {
    /*overflow: hidden;*/
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    margin-top: 125px;
}

#swiper {
    height: 500px;
    aspect-ratio: 2 / 3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
}

.card {
    width: 100%;
    height: 600px;
    position: absolute;
    transform: translateZ(calc(-30px * var(--i)))
    translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    /*filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 1));*/
    cursor: pointer;
    user-select: none;
}

.card img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 20px;
}

.swipe-container {
    float: right;
    margin-left: 175px;
    width: 400px;
}

.matches-container {
    width: 200px;
    color: white;
    float: left;
    margin-left: 100px;
}

.swipeInstructionDiv {
    width: 310px;
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.swipeInstructionDiv p {
    font-weight: bold;
    font-size: 20px;
}

#matchesListUl {
    width: min-content;
    /*border: 2px solid white;*/
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

#matchesListUl div  {
    width: 170px;
    display: inline-block;
    margin: 5px;
}

#matchesListUl div img {
    width: 60px;
    height: 55px;
    float: right;
    border-radius: 25%;
    /*margin-bottom: 100px;*/
}


#matchesListUl a {
    color: white;
    font-size: 25px;
    width: fit-content;
    float: left;
    margin-top: 8px;

}

/* Dropdown Nav */
.dropdownNav {
    width: 100%;
    /*padding: 10px 10%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
}

.dropdownNav ul {
    width: 100%;
    text-align: right;
}

.dropdownNav li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.dropdownNav li a {
    color: white;
    text-decoration: none;
}


.hamburgerMenu {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 20px 0 30px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    /*right: 10%;*/
    width: 275px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    opacity: 0.9;
    background: linear-gradient(to bottom, rgb(76, 0, 19), black);
    padding: 10px;
    margin: 10px 28px 0 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 15px
}

.user-info img {
    width: 55px;
    height: 50px;
    border-radius: 50%;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #525252;
    margin: 10px 0;
}

.sub-menu-link img {
    /*width: 50px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    width: 40px;
    height: 39px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 12px;
}

.sub-menu-link p{
    color: white;
    font-size: 15px;
    width: 50%;
    margin: 0;
}

.sub-menu-link span {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover {
    text-decoration: none;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

/* Match Page */
.wrapper {
    display: flex;
    justify-content: space-between;
}

.profileCard {
    float: left;
    margin-top: 80px;
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 400px;
    position: relative;
    backdrop-filter: blur(5px);
    margin-left: 20px;
}

.profile-card-info {
    margin-top: 30px;
}

.profileCard h2 {
    font-size: 35px;
}

.profileCard img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.machButton {
    height: min-content;
}

.profile-card-info {
    color: white;
}

.profileCard dt {
    font-size: 20px;
}

.profileCard dd {
    font-size: 15px;
    overflow-wrap: break-word;
    padding: 0 15px;
}

.dlDiv {
    margin: 10px 0;
}

#dateSpotsContainer {
   float: right;
}









