@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

html, body {
    margin: 0;
    padding: 0;
}

* {
    /*font-family: Georgia, Cambria, "Times New Roman", Times, serif;*/
}

h1 {
    color: white;
    margin-top: 0;
    font-size: 60px;
}

.neon {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #f09,
            0 0 82px #f09,
            0 0 92px #f09,
            0 0 102px #f09,
            0 0 151px #f09;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}


@keyframes pulsate {

    100% {

        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;

    }

    0% {

        text-shadow: 0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;

    }
}

body {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.homepage-buttons {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border-color: white;
    background: linear-gradient(to bottom, rgb(76, 0, 19), black);
}


.homepage-buttons:hover {
    background: linear-gradient(to top, rgb(76, 0, 19), black);
    color: white;
}

#login-button {
    padding: 7px 25px;
    background-color: #342822;
    margin-top: 5px;
    border-radius: 10px;

}

/* Home Page */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(
            to bottom,
            rgba(76, 0, 19, 0.8),
            rgba(0, 0, 0, 0.6)
    ), url(https://cdn.portico.travel/i/v1.299235.png);
}

#homepage-description{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Exo 2", serif;
}

/* Onboarding Page */


.onboarding form {
    display: flex;
    justify-content: center;
}


.onboarding form section {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding: 20px;
    margin: 20px;
    width: 40%;
}

.onboarding label {
    color: white;
    display: block;
    text-align: -webkit-center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
    /*width: max-content;*/

}

.onboarding form input {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 15px;
    display: block;
    width: 100%;
    color: black;

}

.onboarding form .multipleInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: inherit;
}

.onboarding form .multipleInputContainer input {
    margin-right: 0;
}

.onboarding form .multipleInputContainer label {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
}

#showGenderLabel{
    margin-top: inherit;
}

#sexualOrientationLabel {
    margin-top: inherit;
}

#onboardingButton {
    margin-top: 10px;
}


/*#showGender {*/
/*    !*margin-top: 0;*!*/
/*    margin-bottom: 0;*/
/*}*/










