<div>
    <h2 class="neon">CREATE ACCOUNT</h2>
    <div id="locationContainer">
        <img class="location-img" src="../../../public/images/Location_Symbol.jpg" alt="Location Symbol">
        <h3>We need your location to show who is nearby</h3>
        <p>You will need to grant DateSpot access to your location, so we can show you awesome people
            and date spots in your area.</p>
        <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger text-goes-here">
            </div>
        </div>
        <div id="loader" hidden></div>
        <button  id="locationButton" type="button" class="homepage-buttons" onclick="getLocation();">Allow location access</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/location.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>