<div class="onboarding">
    <h1 class="neon">LOG IN</h1>
    <form id="loginForm" action="/users/login" method="post">
        <section>
            <label for="email">
                Email
                <input id="email" name="userEmail" placeholder="Email" value="" required>
            </label>
            <label for="password">
                Password
                <input id="password" type="password" name="userPassword" placeholder="Password" value="{{userPassword}}" required>
            </label>
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>
            <div>
                <button id="logInButton" type="submit" class="homepage-buttons">Login</button>
            </div>
            <a href="/users/signup" class="redirect-to-signup">Don't have an account? Sign up here!</a>
        </section>
    </form>
</div>
<p>{{error}}</p>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/login.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>